  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ff94f9, #a8ff64);
  }
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: #1e1e2a;
    color: #a8ff64;
    max-width: 900px; 
    margin: 0 auto;
    border: 3px solid #a8ff64;
    box-shadow: 0 0 15px #a8ff64;
  }

  .App-header {
    background-color: #4f48af;
    color: #a8ff64;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ff94f9;

    h1, h2 {
      margin: 0;
      font-size: 24px; 
    }

    h2 {
      margin-top: 10px;
      color: #ff94f9;
    }
  }

  .cv-section {
    margin-bottom: 20px;
    border-left: 3px dashed #a8ff64;
    padding-left: 15px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #ff94f9;
      border-bottom: 3px solid #a8ff64;
      padding-bottom: 15px;
    }

    h3 {
      font-size: 18px;
      color: #a8ff64;
      border-bottom: 1px solid #ff94f9;
      padding-bottom: 8px;
    }
  }

  address, p {
    font-size: 14px;
    color: #ff94f9;
  }

  ul {
    list-style-type: square;

    li {
      color: #a8ff64;
    }
  }

  a {
    color: #ff94f9;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #a8ff64;
    }
  }

  .images-container {
    position: fixed;
    top: 75px;
    left: 20px;
    z-index: 1;

    &.right {
      left: auto;
      right: 20px;
    }
  }

  .draggable-icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .date-info {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff94f9;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }

  .image-button {
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    display: block;
  }

  .image-button img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
  }

  .image-button:hover img {
    opacity: 1;
  }

  .hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #a8ff64;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
  }

  .image-button:hover .hover-text {
    display: block;
  }

  .hamburger-menu {
    position: fixed;
    background: none;
    border: none;
    font-size: 24px;
    color: #a8ff64;
    cursor: pointer;
    outline: none;
    margin-left: 0;
  }

  .hamburger-menu.right {
    left: unset;
    right: 20px;
  }

  .image-button:not(:last-child) {
    margin-right: 10px;
  }

  .images-container.right {
    margin-left: 10px;
    margin-right: 0;
  }

  .menu-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: row; 
    align-items: center;
  }

  .menu-container.right {
    left: unset;
    right: 20px;
    flex-direction: row-reverse;
  }
  .toggle-position {
    position: fixed;
    font-size: 16px;
    background-color: #4f48af;
    border: 2px solid #a8ff64;
    color: #a8ff64;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 30px;  
  }

  .toggle-position:hover {
    background-color: #a8ff64;
    color: #1e1e2a;
  }

  .toggle-position.right {
    left: unset;
    right: 50px;
  }


  .images-container.right .hover-text {
    left: auto;
    right: 100%;
    margin-right: 10px;
    margin-left: 0;
  }

  .discover-button {
    background-color: #4f48af;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #a8ff64;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    animation: upDown 1s infinite alternate;

    &:hover {
      background-color: #a8ff64;
      color: #1e1e2a;
    }
  }

  .lens-icon {
    margin-right: 8px;
    font-size: 24px;
  }

  @keyframes upDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
    }
  }

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e2a;
    padding: 20px;
    border: 2px solid #a8ff64;
    box-shadow: 0px 0px 15px #a8ff64;
    z-index: 10;
    color: #a8ff64;
    max-width: 80%;
    text-align: center;
  }

  .custom-link {
    color: #3498db; 
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;

  }

  .custom-link:hover {
    color: #2c3e50;
  }

  body {
    cursor: none;
  }

  .custom-cursor {
    width: 30px;
    height: 30px;
    background-image: url('./assets/robot.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }
  
  .custom-cursor.hover-link {
    background-image: url('./assets/robot.svg');
  }